body {
    background-color: lightblue;
    text-align: center;
  }
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }
  
/* misc css */
h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
#raspberry-cake {
    height: 498px;
    width: 398.44px;
}

#code-404 {
    height: 750px;
    width: 500px;
}
/* end of misc css */

/* Start of nav css */
nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
/* end of nav css */